<div class="row">
<div class="col-md-2">
  <!-- <div id="sidebar"> -->
    <h1 class="text-center">Hold Types</h1>
    <h4 class="text-center">Click on each to view large image, description and rotational capabilities</h4>
    <nav>
    <!-- <ul> -->
      <li class="text-center 1" id="hold"> <a href="#">Jug</a> </li>
      <li class="text-center 2" id="hold"> <a href="#">Crimp</a> </li>
      <li class="text-center 3" id="hold"> <a href="#">Sloper</a> </li>
      <li class="text-center 4" id="hold"> <a href="#">Pinch</a> </li>
    <!-- </ul> -->
  </nav>
  <!-- </div> -->

</div>

<div class="col-md-5" id='holds'>
  <div class="jug text-center">
    <h1 id="type">Hold</h1>
    <img src='assets/jug.png' />
  </div>





</div>

<div class="col-md-5">
<h1 class="direction text-center">Movement</h1>
<p>
  Comfy, full hand grips, mostly used by beginners who are just getting used to climbing.
</p>
</div>
</div>
