<div class="col-md-6" id='holds'>
  <div class="jug">
    <img src='assets/jug.png' />
  </div>
  <div class="description">
      <p>
        Comfy, full hand grips, mostly used by beginners who are just getting used to climbing.
      </p>
  </div>
  <br>
  <div class="undercling">
    <img src='assets/undercling.png' />
  </div>



</div>

<div class="col-md-3">

</div>
