  <div class="container landing">
    <div class="title">
      <h1 class"text-center">Your Climb Center</h1>
        <h4>
          Begin your journey
        </h4>
        <p class="text=center"><%= link_to image_tag('facebook-button.png'), class:"facebook-login" %>
        </p>
        </div>
  </div>

<script>

</script>
